.main {
  padding: 0 30px;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
  max-width: 560px;
}

.heading {
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 20px;
}

.checkout-grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 12px;
}

@media screen and (min-width: 1000px) {
  .checkout-grid {
    grid-template-columns: 1fr 350px;
    grid-template-rows: 1;
    column-gap: 10px;
    align-items: start;
  }

  .main {
    max-width: 1160px;
  }

  .order-summery-section {
    grid-column: 1;
    grid-row: 1;
  }
}
